/* Reset some default styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #0f3a72; /* Background color for the entire page */
}

/* Style the container */
.container {
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Style the header */
h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
}

/* Style the menu section */
.menu {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.menu p {
  font-size: 18px;
  color: #555;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style the cart section */
.cart {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 120px;
}

.cart h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.cart p {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

/* Style the cart items list */
#cart-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#cart-list li {
  font-size: 20px; /* Increased font size */
  color: #444;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; /* Add padding for better spacing */
  border-radius: 8px; /* Add border-radius for a card-like look */
  transition: background-color 0.3s ease; /* Add a smooth background color transition */
}

#cart-list li:hover {
  background-color: #ebebeb; /* Lighter background color on hover */
  border: 2px solid #0f3a72;
}

/* Style the clear cart button */
#clear-cart, #buy-button {
  border: none;
  border-radius: 8px;
  background: #221d45;
  color: white;
  margin: 5px;
  padding: 10px 20px; /* Increase padding for better button size */
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#clear-cart:hover, #buy-button:hover {
  background-color: #e24949; /* Darker red on hover */
}

/* Style the "Remove" button */
.remove-button {
  background-color: #f44336; /* Red background color */
  color: white; /* White text color */
  border: none; /* Remove the border */
  padding: 5px 10px; /* Add some padding */
  cursor: pointer; /* Change cursor to pointer on hover */
  border-radius: 4px; /* Add rounded corners */
}

/* Style the "Remove" button on hover */
.remove-button:hover {
  background-color: #d32f2f; /* Darker red background color */
}
