<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Kuch Meetha Hojay</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google icons -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Pacifico&family=Poppins:wght@300&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="./assets/css/meetha.css" rel="stylesheet">
  <link href="assets/css/subbrands.css" rel="stylesheet">
  <!-- <link href="social-media.css" rel="stylesheet"> -->
  <!-- for icons -->
  <script src="https://kit.fontawesome.com/922d326d9d.js" crossorigin="anonymous"></script>


</head>

<body>

        <!--  Preloader Start  -->
        <div id="preloader">
          <div class="jumper">
              <img src="assets/Images/Kuch Meetha Ho Jaye-png.png" alt="logo"
                  style="height: 190px; position: absolute; top: -48px; left: -50px;">
          </div>
      </div>
      <!--  Preloader End  -->

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-center justify-content-md-between">

      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-phone d-flex align-items-center"><span>+91 12345 12345</span></i>
        <i class="bi bi-clock d-flex align-items-center ms-4"><span> Mon-Sat: 11AM - 23PM</span></i>
      </div>
      <!-- 
      <div class="languages d-none d-md-flex align-items-center">
        <ul>
          <li>En</li>
          <li><a href="#">De</a></li>
        </ul>
      </div> -->
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">



      
      <a href="/" class="logo me-auto me-lg-0"><img src="./assets/Images/all about food-png.png" alt=""
          class="img-fluid"></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#menu">Menu</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      
      <div class="side-nav">
       {{#if user}}
          <!-- Display username and dropdown when user is logged in -->
          <div class="dropdown">
            <a class="nav-link scrollto" href="#" id="user-dropdown" style="margin: 0;">
              <i class="fa-regular fa-user"> {{user.username}}</i>
            </a>
            <div class="dropdown-content" id="user-dropdown-content">
              <p>Email: {{user.email}}</p>
              <a href="/logout">Logout</a>
            </div>
          </div>
        {{else}}
          <!-- Display login icon and link when user is not logged in -->
          <a class="nav-link scrollto" href="/login"  style="margin: 0;"><i class="fa-regular fa-user"></i></a>
        {{/if}}
        <!-- Other navigation links and cart icon -->
        <div class="nav-link scrollto">
          <span id="item-count" style="color: black;">0</span>
          <a href="/order-details" class="cart-link"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </div>

    </div>

  </header><!-- End Header -->


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8" style="position: relative; width: 100%; text-align: center; top: 50px;">
          <!-- <h1 style=" font-family: Sofia, sans-serif;"><span>Lazzat E Laham</span></h1> -->
          <img src="assets/Images/hero logmeetha.png" alt="Kuch_Meetha_hojay" id="hero-img">
          <h2>"Meethi Yadain, Meetha Ehsas!"</h2>

          <div class="btns">
            <a href="#menu" class="btn-menu animated fadeInUp scrollto">Menu</a>
            <a href="#menu" class="btn-book animated fadeInUp scrollto">Order Now!</a>
          </div>
        </div>
        <!-- <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in"
          data-aos-delay="200">
          <a href="" class="glightbox play-btn"></a>
        </div> -->

      </div>
    </div>
  </section>
  <!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
              <video autoplay="" loop="" muted="" class="about-vid">
                <source src="assets/vid/mitha.mp4" type="video/mp4">
            </video>
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Welcome to Lazzat E Laham</h3>
            <p class="fst-italic">where culinary exploration meets heartfelt passion. We
              believe that food is not merely sustenance; it's an art form that brings people together, creates
              memories, and tells stories. Our journey begins with a simple yet profound idea - to celebrate the diverse
              world of flavors under one roof.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Lazzate Laham - Unleash Your Carnivorous Cravings</li>
              <li><i class="bi bi-check-circle"></i> Veg Mahal - Where Vegetarian Elegance Reigns</li>
              <li><i class="bi bi-check-circle"></i> Coffee Bliss - Awaken Your Senses, One Sip at a Time</li>
              <li><i class="bi bi-check-circle"></i> As Kuch Meetha Ho Jaye - Indulge in Sweet Moments, Every Day</li>
              <li><i class="bi bi-check-circle"></i> Dombivali Chaat- Savor Spicy Delights, One Bite at a Time</li>
            </ul>
            <!-- <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum
            </p> -->
          </div>
        </div>

      </div>
  </section>
    </section>
    <!-- End About Section -->

    <!-- ======= Our Sub-Brands ======= -->
    <section id="sub-brands" class="sub-brands">
      <div class="container" data-aos="fade-up">

        <div class="section-title1">
          <!-- <h2 >All About Food</h2> -->
          <p style="text-align: center;">Our SubBrands</p>
        </div>

        <div class="row">

         

          <div class="card-container">
            <!-- Card 1 -->
            <div class="card">
              <a href="/lazzat"><img src="/assets/Images/Lazzate Laham-png.png" alt="Image"></a>
            </div>

            <!-- Card 2 -->
            <div class="card">
              <a href="/vegmahal"><img src="/assets/Images/Veg Mahal-png.png" alt="Image"></a>
            </div>

            <!-- Card 3 -->
            <div class="card">
              <a href="/meetha"><img src="/assets/Images/Kuch Meetha Ho Jaye-png.png" alt="Image"></a>
            </div>

            <!-- Card 4 -->
            <div class="card">
              <a href="/coffee"> <img src="/assets/Images/Coffee Bliss-png.png" alt="Image"></a>
            </div>

            <!-- Card 5 -->
            <div class="card"> </a>
              <a href="/chaat"><img src="/assets/Images/Dombivli Chaat Centre-png.png" alt="Image"></a>
            </div>
          </div>


        </div>

      </div>
    </section>

    <!-- End Sub Brands Section -->

    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Menu</h2>
          <p>Check Our Tasty Menu & order Now!!😋</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-starters">Starters</li>
              <li data-filter=".filter-salads">Salads</li>
              <li data-filter=".filter-specialty">Specialty</li>
            </ul>
          </div>
        </div>

        <div class="row menu-container" id="menu_bg" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-6 menu-item filter-starters">
          <img src="assets/img/menu/lobster-bisque.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Lobster Bisque</a><span>₹5 <button class="add-to-cart" data-name="Lobster Bisque" data-price="5">+</button></span>
           
          </div>
          <div class="menu-ingredients">
            Lorem, deren, trataro, filede, nerada
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-specialty">
          <img src="assets/img/menu/bread-barrel.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Bread Barrel</a><span>₹6.95<button class="add-to-cart" data-name="Bread Barrel" data-price="6.95">+</button></span>
            
          </div>
          <div class="menu-ingredients">
            Lorem, deren, trataro, filede, nerada
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-starters">
          <img src="assets/img/menu/cake.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Crab Cake</a><span>₹7.95 <button class="add-to-cart" data-name="Crab Cake" data-price="7.95">+</button></span>
           
          </div>
          <div class="menu-ingredients">
            A delicate crab cake served on a toasted roll with lettuce and tartar sauce
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-salads">
          <img src="assets/img/menu/caesar.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Caesar Selections</a><span>₹8.95<button class="add-to-cart" data-name="Caesar Selections" data-price="8.95">+</button></span>
            
          </div>
          <div class="menu-ingredients">
            Lorem, deren, trataro, filede, nerada
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-specialty">
          <img src="assets/img/menu/tuscan-grilled.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Tuscan Grilled</a><span>₹9.95<button class="add-to-cart" data-name="Tuscan Grilled" data-price="9.95">+</button></span>
            
          </div>
          <div class="menu-ingredients">
            Grilled chicken with provolone, artichoke hearts, and roasted red pesto
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-starters">
          <img src="assets/img/menu/mozzarella.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Mozzarella Stick</a><span>₹4.95 <button class="add-to-cart" data-name="Mozzarella Stick" data-price="4.95">+</button></span>
           
          </div>
          <div class="menu-ingredients">
            Lorem, deren, trataro, filede, nerada
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-salads">
          <img src="assets/img/menu/greek-salad.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Greek Salad</a><span>₹9.95<button class="add-to-cart" data-name="Greek Salad" data-price="9.95">+</button></span>
            
          </div>
          <div class="menu-ingredients">
            Fresh spinach, crisp romaine, tomatoes, and Greek olives
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-salads">
          <img src="assets/img/menu/spinach-salad.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Spinach Salad</a><span>₹9.95 <button class="add-to-cart" data-name="Spinach Salad" data-price="9.95">+</button></span>
           
          </div>
          <div class="menu-ingredients">
            Fresh spinach with mushrooms, hard-boiled egg, and warm bacon vinaigrette
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-specialty">
          <img src="assets/img/menu/lobster-roll.jpg" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Lobster Roll</a><span>₹12.95<button class="add-to-cart" data-name="Lobster Roll" data-price="12.95">+</button></span>
            
          </div>
          <div class="menu-ingredients">
            Plump lobster meat, mayo, and crisp lettuce on a toasted bulky roll
          </div>
        </div>
      </div>

      </div>
      
        </div>

      </div>
    </section>
    <!-- End Menu Section -->




    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>
      </div>

      <div data-aos="fade-up">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d942.2793258102636!2d73.0498758!3d19.1463419!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c15cb2975af3%3A0xc095b40e3ad24ae2!2sAll%20About%20Food!5e0!3m2!1sen!2sin!4v1694436540435!5m2!1sen!2sin"
          frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="container" data-aos="fade-up">

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>All About Food, Shilgaon, Dombivli, Thane, Maharashtra 421204</p>
              </div>

              <div class="open-hours">
                <i class="bi bi-clock"></i>
                <h4>Open Hours:</h4>
                <p>
                  Monday-Saturday:<br>
                  11:00 AM - 23:00 PM
                </p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>allaboutfoods.plaza@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 12345 12345</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="8" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6" style="text-align: center;">
            <div class="footer-info">
              <a href="file:///d%3A/Projects/All_about_food/index.html" class="logo me-auto me-lg-0"><img src="assets/Images/all about food-png.png" alt=""
                  class="img-fluid"></a>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links" style="text-align: center;">
            <h4>Location</h4>
            <p>
              All About Food, Shilgaon, Dombivli,<br>
              Thane, Maharashtra 421204<br><br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links" style="text-align: center;">
            <h4>Social Media</h4>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter" style="text-align: center;">
            <h4>Contact US</h4>
            <strong>Phone:</strong> +91 12345 12345<br>
            <strong>Email:</strong> allaboutfoods.plaza@gmail.com<br>
            <!-- <span class="material-symbols-outlined">mail<a href="mailto:allaboutfoods.plaza@gmail.com"><p>allaboutfoods.plaza@gmail.com</p></a> </span> -->
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>All About Food</span></strong>. All Rights Reserved
        Designed by <a href="https://webbears.online/">WebBears</a>
      </div>
  </footer><!-- End Footer -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="addTocart.js"></script>

</body>

</html>