<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Order</title>
   <link rel="stylesheet" href="order-details.css">
</head>
<body>
        <h2>Menu</h2>
        <p>Check Our Tasty Menu</p>
       </div>
       <div  class="cart">
        <h2>Cart <span id="item-count">0</span></h2>
        <ul id="cart-list">
          <!-- Cart items will be added here -->
        </ul>
        <p>Total: ₹<span id="total">0.00</span></p>
        <button id="clear-cart" onclick="clearCart()">Clear Cart</button>
      </div>
      <script src="addTocart.js"></script>
</body>
</html>